<div id="about">
  <h1>关于</h1>
  <p>
  若干年前求学,听到威尔·史密斯内心独白,深受触动,遂将”Running”作为自己的英文名,以自勉,盼若干年后的自己仍能坚持奔跑在梦想路上.

  90后,睿智的眼镜,170cm/140mm/0m².职业码农,java出身,后投身前端,致力于改变业界管理系统前端普遍一坨屎的局面.爱折(zuo)腾(si),极客文艺范.写点生活,写点代码.
  若干年前求学,听到威尔·史密斯内心独白,深受触动,遂将”Running”作为自己的英文名,以自勉,盼若干年后的自己仍能坚持奔跑在梦想路上.

  90后,睿智的眼镜,170cm/140mm/0m².职业码农,java出身,后投身前端,致力于改变业界管理系统前端普遍一坨屎的局面.爱折(zuo)腾(si),极客文艺范.写点生活,写点代码.
  若干年前求学,听到威尔·史密斯内心独白,深受触动,遂将”Running”作为自己的英文名,以自勉,盼若干年后的自己仍能坚持奔跑在梦想路上.

  90后,睿智的眼镜,170cm/140mm/0m².职业码农,java出身,后投身前端,致力于改变业界管理系统前端普遍一坨屎的局面.爱折(zuo)腾(si),极客文艺范.写点生活,写点代码.
  若干年前求学,听到威尔·史密斯内心独白,深受触动,遂将”Running”作为自己的英文名,以自勉,盼若干年后的自己仍能坚持奔跑在梦想路上.

  90后,睿智的眼镜,170cm/140mm/0m².职业码农,java出身,后投身前端,致力于改变业界管理系统前端普遍一坨屎的局面.爱折(zuo)腾(si),极客文艺范.写点生活,写点代码.
  </p>
</div>
<script type="text/javascript">
  $(function(){
    document.title="关于";
  })
</script>  
