<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
  <link rel="stylesheet" type="text/css" href="../public/css/index.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <header class="main-header">
    <div id="header-wrapper">
      <div class="logo">
        <img class="avatar" src="../public/images/avatar.jpg"/>
      </div>
      <button id="playlist" class="open">
        <span></span>
        <span></span>
        <span></span>
        playlist
      </button>
      <nav class="main-nav">
        <ul>
          <li><a class="nav-tab active" href="/">首页</a></li>
          <li><a data-pjax class="nav-tab" href="/about.html">关於</a></li>
          <li><a class="nav-tab" href="">青春代碼</a></li>
          <li><a class="nav-tab" href="">洒家茶話</a></li>
          <li><a class="nav-tab" href="">文艺少年</a></li>
          <li><a class="nav-tab" href="">归档</a></li>
          <li><a class="nav-tab" href="">相册</a></li>
        </ul>
      </nav>
      <div class="searchBox">
        <input type="text" name="" value="Search">
      </div>
    </div>
  </header>
  <div class="topfixed_bg"></div>
  <div class="main">
    <div class="article-list">
      <article id="post1" class="post">
        <h1 class="post-header"><a data-pjax class="post-title" href="/programmer-style-xiuzhen.html">程序猿风格的修真小说</a><span class="post-time">08月11日</span></h1>
        <p>
          <a data-pjax href="/programmer-style-xiuzhen.html" title="程序猿风格的修真小说">
            <img class="post-img" src="../public/images/article1.jpg">
          </a>
        </p>
        <p class="post-digest">
          终有一天我手中的编译器将成为我灵魂的一部分，这世界在我的眼中将被代码重构，我将看到山川无尽银河无垠都汇成二进制的数字河流，过往英雄都在我脑海眼前一一浮现，而我听到无数码农跪倒在我的程序面前呼喊。
        </p>
      </article>
      <article id="post2" class="post">
        <h1 class="post-header"><a class="post-title" href="">使用rem等比适配webApp</a><span class="post-time">08月11日</span></h1>
        <p>
          <a href="" title="使用rem等比适配webApp">
            <img class="post-img" src="../public/images/article2.jpg">
          </a>
        </p>
        <p class="post-digest">
          rem是啥rem 是相对于 html 元素的 font-size 的一个单位。如果 html 上定义了 font-size: 20px;，则无论在任何地方都是 1rem = 20px 这个大小不会受到父元素的影响。换言之,若整站需要适应页面大小的任何元素都使用 rem 为单位来定义,当设备屏幕变大或者缩小时,我们只需要改变html元素的font-size,那么整站使用了rem单位的元素都会相应的等比放大或者缩小,并且布局不会乱
        </p>
      </article>
      <article id="post3" class="post">
        <h1 class="post-header"><a class="post-title" href="">解决Wordpress在阿里云主机无法发送邮件的问题</a><span class="post-time">08月11日</span></h1>
        <p>
          <a href="" title="使用rem等比适配webApp">
            <img class="post-img" src="../public/images/article3.jpg">
          </a>
        </p>
        <p class="post-digest">
          这是个老问题了,无非是主机不支持或者禁用了mail函数,给别人的留言回复别人都收不到邮件通知,后来上Linux弄搭了个邮件服务器解决,不过发现邮件发送经常被当做垃圾邮件,就换成了smtp来发送邮件,效果妥妥的.
        </p>
      </article>
      <article id="post4" class="post">
        <h1 class="post-header"><a class="post-title" href="">最近比较忙，最近比较烦。</a><span class="post-time">08月11日</span></h1>
        <p>
          <a href="" title="最近比较忙，最近比较烦。">
            <img class="post-img" src="../public/images/article4.jpg">
          </a>
        </p>
        <p class="post-digest">
          最近很忙。头又疼了。又是三四点睡。

          作死，在干完手上的活后，一鼓作气又把博客源码修修改改了一番，顺手修复的Bug也一起扔给了原作者。打包，发布，睡觉。行云流水。

          这大概是这一天的开始我觉得自己做得最有意义的事情，无关其他，没有人催我，没有人施压，想做就做了，完事还挺有成就感。趁着第二天起来又是忙碌前，先做些自己喜欢的事情。
        </p>
      </article>
      <article id="post5" class="post">
        <h1 class="post-header"><a class="post-title" href="">喵星人咖啡馆</a><span class="post-time">08月11日</span></h1>
        <p>
          <a href="" title="喵星人咖啡馆">
            <img class="post-img" src="../public/images/article5.jpg">
          </a>
        </p>
        <p class="post-digest">
          一直想养只猫,猫粮猫砂猫窝我都买好了,就差只猫了…迟迟没有下手原因之一是想养只品种好的喵星人,可是呢价格比较高,最近比较窘迫;其二由于比较忙,还在担心能否照顾好,虽然在魔都的生活有些孤独,却也不想因为自己的一时需要而不考虑喵星人的未来,怎么说养了就算是一家人了吧,不能不慎重…俺就是太善良了~
        </p>
      </article>
      <article id="post6" class="post">
        <h1 class="post-header"><a class="post-title" href="">心有猛虎,細嗅蔷薇:–《超能陸戰隊》影評</a><span class="post-time">08月11日</span></h1>
        <p>
          <a href="" title="心有猛虎,細嗅蔷薇:–《超能陸戰隊》影評">
            <img class="post-img" src="../public/images/article6.jpg">
          </a>
        </p>
        <p class="post-digest">
          ——世界上唯一比给予生命更美好的，就是让生命充满爱。
          这部充满着笑点和泪点的动画实在有太多值得品评和收藏之处，然而促使我写下这片影评的，却是一个再小不过的细节：身着重装铠甲的Baymax刚刚站定、摆好Hiro要求的pose，这时一只蝴蝶飘然落在“钢铁巨人”的指尖，大白的神情瞬间变得无比柔软——勇武与温柔就这样简单而猝不及防地完美相融，那一刻，这句话浮现在我脑海：心有猛虎，轻嗅蔷薇。
        </p>
      </article>
      <article id="post7" class="post">
        <h1 class="post-header"><a class="post-title" href="">使用rem等比适配webApp</a><span class="post-time">08月11日</span></h1>
        <p>
          <a href="" title="使用rem等比适配webApp">
            <img class="post-img" src="../public/images/article2.jpg">
          </a>
        </p>
        <p class="post-digest">
          rem是啥rem 是相对于 html 元素的 font-size 的一个单位。如果 html 上定义了 font-size: 20px;，则无论在任何地方都是 1rem = 20px 这个大小不会受到父元素的影响。换言之,若整站需要适应页面大小的任何元素都使用 rem 为单位来定义,当设备屏幕变大或者缩小时,我们只需要改变html元素的font-size,那么整站使用了rem单位的元素都会相应的等比放大或者缩小,并且布局不会乱
        </p>
      </article>
    </div>
  </div>
  <footer class="footer">
    <div class="content-wrapper">
      <div id="comment-wrapper" class="widget-wrapper">
        <h1 class="widget-title">最新评论</h1>
        <ul>
          <li class="comment-list">
            <img class="comment-avatar" src="../public/images/noAvatar.jpg">
            <span class="comment-text">感受学习的力量！</span>
          </li>
          <li class="comment-list">
            <img class="comment-avatar" src="../public/images/noAvatar.jpg">
            <span class="comment-text">来看看总能学到一点东西！</span>
          </li>
          <li class="comment-list">
            <img class="comment-avatar" src="../public/images/noAvatar.jpg">
            <span class="comment-text">这个不错哦，我好好读读！</span>
          </li>
          <li class="comment-list">
            <img class="comment-avatar" src="../public/images/noAvatar.jpg">
            <span class="comment-text">好几年没用博客了，支持下！</span>
          </li>
        </ul>
      </div>
      <div id="tag-wrapper" class="widget-wrapper">
        <h1 class="widget-title">热门标签</h1>
        <ul>
          <li class="tag-list">HTML</li>
        </ul>
      </div>
      <div id="message-wrapper" class="widget-wrapper">
        <h1 class="widget-title">留言墙</h1>
        <ul>
          <li class="message-list">
            <img class="message-avatar" src="../public/images/user-avatar1.jpg">
          </li>
          <li class="message-list">
            <img class="message-avatar" src="../public/images/user-avatar2.jpg">
          </li>
          <li class="message-list">
            <img class="message-avatar" src="../public/images/user-avatar3.jpg">
          </li>
          <li class="message-list">
            <img class="message-avatar" src="../public/images/noAvatar.jpg">
          </li>
          <li class="message-list">
            <img class="message-avatar" src="../public/images/noAvatar.jpg">
          </li>
          <li class="message-list">
            <img class="message-avatar" src="../public/images/noAvatar.jpg">
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copy">
      <div class="social-icons">
        <a href="" class="social-icon">
          <i class="fa fa-envelope-o fa-fw"></i>
        </a>
        <a href="" class="social-icon">
          <i class="fa fa-weixin"></i>
        </a>
        <a href="" class="social-icon">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <span class="authority">xixi酱 个人版权</span>
      
    </div>
  </footer>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../public/js/jquery.pjax.js"></script>
  <script type="text/javascript" src="../public/js/index.js"></script>
</body>
</html>
